/* utility_text
*/
.u-font-pickup{
	color: #FF0000;
}

.u-font-note{
	color: #0000FF;
}

.u-font-black{
    color: #000;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align:left;
}
.text-right {
    text-align:right;
}

/*Yellow ハイライト*/
.u-bg-highlight{
    background-color: #fce519;
}
