/*Component_contact_form7
※通常、接頭語にc- が必要だが、ここでは、前CSS構造の sub-common.css の内容を引き継ぐ。
*/

/*contact form 7*/


.contactform-accept {
    text-align: center;
}

form.wpcf7-form p {
    margin: 1.5rem 0;
}

.contactform-btn-send {
    text-align: center;
}

.contactform-btn-send-skin .weluka-btn {
    padding: 5px 60px;
}

#main-content .wpcf7 h3 {
    color: #004b64;
    font-size: 16px;
    border: 0px;
}

.wpcf7 .another-form {
    background: #fafafa none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 0 0 30px;
    padding: 5px;
}



.c-wpcf7-name {
    margin-bottom: 0px;
}

.c-wpcf7-input {
    margin-top: 0px;
    margin-bottom: 2px;
}

.c-wpcf7note{

  color: #fff;
  font-size: 11px;
  padding: 5px 6px;
  margin-right: 5px;

}
.c-wpcf7note-req{
    background: #FE624C ;

  }

  .c-wpcf7note-any{
    background: #3B5799 ;
  }

  /* 768px以上 */
  @media (min-width: 768px){
  .lc-contact{
    padding:0px 100px;
  }
}
