/*Component_design
※通常、接頭語にc- が必要
*/


.breadcrumbs{
    margin-top: 20px;
    margin-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.3rem;
}

.navbar-toggle .icon-bar {
  background-color: #de8834;
  width: 30px;
  height: 3px;
  content: '';
  display: block;
  transform: translate3d(-50%, -4px, 0);
  -webkit-transform: translate3d(-50%, -4px, 0);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  position: absolute;
  &:before, &:after {
    background-color: #de8834;
    width: 30px;
    height: 3px;
    content: '';
    display: block;
    transform: translate3d(-50%, -4px, 0);
    -webkit-transform: translate3d(-50%, -4px, 0);
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    position: absolute;
  }
  &:before {
    transform: translate3d(0, -8px, 0);
    -webkit-transform: translate3d(0, -8px, 0);
  }
  &:after {
    transform: translate3d(0, 9px, 0);
    -webkit-transform: translate3d(0, 9px, 0);
  }
}

.nav-is-open .navbar-toggle .icon-bar {
  background-color: transparent;
  &:before {
    -ms-transform: translateX(0) rotate(45deg);
    transform: translateX(0) rotate(45deg);
    -webkit-transform: translateX(0) rotate(45deg);
    top: 0;
  }
  &:after {
    -ms-transform: translateX(0) translateY(-10px) rotate(-45deg);
    transform: translateX(0) translateY(-10px) rotate(-45deg);
    -webkit-transform: translateX(0) translateY(-10px) rotate(-45deg);
    top: 10px;
  }
}

.navbar-header .navbar-toggle {
  display: block;
  background-color: #fff;
  border-radius: 0;
  padding: 25px;
  transition: 1s ease-in-out;
  margin: 0;
  cursor: pointer;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  position: static;
}

.rotateRight {
  transform: rotate(180deg);
}

.rotateLeft {
  transform: rotate(-180deg);
}

.navbar-header {
  position: fixed;
  z-index: 9999;
  right: 0;
}

.nav-menu li {
  text-decoration: none;
  list-style: none;
  margin: 10px 0;
  a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
  }
}

.nav-is-open {
  overflow: hidden;
}

.cmenu-nav {
  position: fixed;
  z-index: 1;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.7s;
  -moz-transition: visibility 0s 0.7s;
  transition: visibility 0s 0.7s;
  height: 100%;
  width: 100%;
}

.nav-is-open .cmenu-nav {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}

.cmenu-nav .cmenu-navigation-wrapper, #main {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  transition: transform 1s;
  -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
}

.cmenu-nav .cmenu-navigation-wrapper {
  padding: 55px 0 0 15px;
  height: 100%;
  overflow-y: auto;
  opacity: 0.95;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  background-color: #ffa422;
}

#main {
  position: static !important;
}

.nav-is-open .cmenu-nav .cmenu-navigation-wrapper {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  transition: transform 1s;
  -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  overflow: hidden;
  height: 100%;
  width: 100%;
}
/* ハンバーガーメニュー調整 767以下(特殊モバイル用設定)*/
@media (max-width: 767px) {
    .header-menu-clm .weluka-wpmenu {
        position: relative;
    }
    /*.header-menu-clm .navbar-header*/
    .header-menu-clm .navbar-header {
        position: relative;
        z-index: 999;
        width: 100%;
        left: 0;
        top: -90px;
    }
    .weluka-nav-bar-v {
        /*display: none;
        メニューの表示非表示の操作はwekukaに直接設定
        */
        background-color: #252525;
    }
    .navbar-header {
        background-image: url("/wp-content/uploads/nav/line-sp.png");
        /*.lr-navbar の背景でも設定しているが、メニューオープン時に必要*/
    }
    .weluka-nav-bar-h,
    .navbar-collapse {
        background-color: #fff;
    }
}

/*タイトル*/
.c-ttl {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.c-ttl--right {
    padding: 20px 10px 10px 10px;
}

.c-ttl--left {
    padding: 20px 10px 10px 10px;
}

.c-body {
    padding: 2rem;
}

.c-body p{
    line-height: 2.0;
}


.c-body--center {
    /*
    padding:10px 120px 10px 120px;
    */
    width: 600px;
}


.c-body--pt01 {
    background: URL('/wp-content/uploads/img/sp-img-wp-circle.png') no-repeat;
    background-size: contain;
    background-position: center;
}

.c-body--pt06 {
    text-align: center;
}

.c-ttl {
    width: 100%
}

.c-img--pt05 {
    padding: 0 10px;
}

/* SearchWindow */
.search-submit {
    -moz-user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.35;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
}

.search-submit:hover,
.search-submit:active {
    color: #fff;
    background-color: #303030;
    border-color: #3c3c3c;
}


/*横スクロールリスト*/
.c-scrolllist--blog{
    height: 190px;/*メニューの縦幅*/
    background-color: #444;/*メニューの背景色*/
}
.c-scrolllist .c-scrolllist-inner {
    list-style-type: none;
    width: 1000px;/*メニューの横幅*/
    height: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.c-scrolllist li {
    float: left;
    height: 100%;
    list-style: none;
}

.c-scrolllist a:hover {
    background-color: #555;/*マウスホバー時の背景色*/
}
@media screen and (max-width: 1000px) {/*メニューの横幅*/
    .c-scrolllist {
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
    .c-scrolllist .c-scrolllist-inner {
        margin: 0;
    }
}
/* end 横スクロールリスト*/

/* 768px以上 */
@media (min-width: 768px) {

    .c-ttl {
        width: 70%
    }
    .navbar-brand {
        display: none;
    }
    .nav-menu li {
    margin: 20px 0;
    a {
      font-size: 30px;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
  .cmenu-nav .cmenu-navigation-wrapper {
    padding: 8% 0 0 5%;
    opacity: 1;
  }
  .navbar-header {
    top: 5%;
    margin-right: 8%;
  }
  .nav-is-open #main {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  .breadcrumbs{
    margin-top: 20px;
    margin-bottom: 8px;
    padding: 0
}
}
