@mixin border-bottom-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
     -moz-border-bottom-right-radiuss: $radius;
      -ms-border-bottom-right-radius: $radius;
          border-bottom-right-radius: $radius;
}

.wpp-list {
	counter-reset: wpp-ranking;

	li {
		list-style: none;

		&:before {
			content: counter(wpp-ranking, decimal);
  			counter-increment: wpp-ranking;
  			padding: 1rem;
    		font-weight: bold;
    		background-color: #EEF65A;
    		position: absolute;
    		color: #000;
    		@include border-bottom-right-radius(10px);
		}

		img{
			display:block;
    		float: none;
    		width: 100%;
    		margin: 0 auto;
		}
		
		a {
			text-decoration: none;
			font-size: 1.5rem;
		}
	}
}
