/* front.css；管理画面やWelukaページビルダーで表示させなくないCSS。 初期状態がhiddenなど*/

/*ふわっと表示*/
.lr-main {
    opacity : 0.1;
    transform : translate(0, 50px);
    transition : all 500ms;
    }
 
/* 画面内に入った状態 */
.lr-main.scrollin{
    opacity : 1;
    transform : translate(0, 0);
    }
/* 768px以上 */
@media (min-width: 768px) {

}