/* 
Layoutレイヤー
Layoutレイヤーはワイヤーフレームに定義されるような大きな単位のコンテナブロックが該当します。このレイヤー以降はクラスセレクタのみを指定します。例外として、このLayoutレイヤーにだけは必要に応じてIDセレクタを指定することもできます。
welukaの3パーツの接頭語は、Section = ls- 、 column = lc- 、row = lr- 、とします。 
*/
/*スマホでブレ対策*/
#main-content {padding: 0.5em 3em;}
@media (max-width: 991px) {
	/*
    #main > .weluka-container-fluid,
    #main > .weluka-container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .topnav-clm {
        padding-left: 10px;
        padding-right: 10px;
    }
    */
}





/* 
Section 
*/
.ls-top{padding: 0.5rem 10rem}
.ls-apply{padding:1rem;}
/*
Row
*/
.lr-top--note{
    
}
.lr-main{
    margin-bottom: 50px;
}
.lr-main--bg01{
}
.lr-main--bg02{
    background-color: #5bc0de;
}
.lr-main--bg03{
    background-color: #ff5a40;
}
.lr-apply{
    margin-bottom: 30px;
}


/*
colmun
*/
.lc-main--txt02{
    color: #fff;
}




/* 768px以上(PC表示)*/

@media (min-width: 768px) {
    #weluka-main-header {padding: 0.5rem 0.5rem;}

    /* transition */
    .weluka-custom-header,
    .weluka-custom-header:after,{
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }
    
    /*header 固定時*/
    .headroom--not-top{
    padding-top: 0px;
    padding-bottom:0px;
    background: rgba(255,255,255,.7);
    }
    .headroom--not-top {
        font-size: 1.5rem;
        color: #333;
    }
    .headroom--not-top .logo--header{
        width:150px;
    }
    .headroom--not-top .nav--header{
        font-size: 1.5rem;
    }
    
    
    
}
